<!DOCTYPE html>
<html>
<%- include('generalBlock/head', {head: html.head}); %>
<body>
<%- include('generalBlock/header', {header: html.header}); %>

<div class="mainContentWrapper relativeBlock col-xs-12 col-md-10 col-md-offset-1">
    <div class="subContentWrapper">
        <div class="bodyTitle">
                <h2>
                    Vidéos associées à <b><%= "#"+tagName %></b>
                </h2>
        </div>
        <div class="tagVideos row col-xs-12">

            <% tagVideos.forEach(function(video) { %>

            <div class="wrappervideo col-md-3 col-xs-6">
                <div class="video">
                    <a href="<%=video.link%>">
                        <img src="<%=video.miniature%>" alt="MomentVid" class="MomentVid">
                        <div class="middle">
                            <i class="fa fa-youtube-play fa-3x" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
                <div class="descriptionVideoWrapper descriptionMomentWrapper">
                    <div class="descriptionVideo descriptionMoment">
                        <a href="<%=video.link%>">
                        <span class="titre">
                            <%=video.miniTitle%>
                        </span>
                        </a>
                        <div class="descr">
                            <span class="date">Ajoutée le <%= video.newDate%></span><span class="nb_vue"> · <b><%=video.nb_vue%></b> vues</span>
                        </div>
                    </div>
                </div>
            </div>

            <% }); %>
        </div>
    </div>
</div>

<%- include('generalBlock/footer', {footer: html.footer}); %>

</body>
</html>